.dashboard {
    position: relative;
    padding: 20px;
    text-align: center;

    .logout-button {
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    h1 {
        font-size: 2rem;
    }

    .welcome-message {
        margin-top: 20px;
    }

    .link {
        font-weight: bold;
        color: #007bff;
        display: inline-block;
        margin-top: 20px;
    }
}
